.home-route-container {
    .home-carousel {
    }
    hr {
        height: 5px;
        margin: 20px 0;
        border: none;
        background-color: transparent;
        border-top: 1px solid var(--primary--color);
        border-bottom: 1px solid var(--primary--color);
    }
    .home-content {
        display: flex;
        .posts-area {
            flex: 3;

        }
        .blog-side-bar {
            flex: 1;
            background-color: var(--dark--blue);
            margin-top: -20px;
        }
    }
}