:root {
  --primary--color: #ffbe00;
  --dark--blue: #010e1e;
  --gray: #a2a2ab;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Arial", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  background-color: #080808;
}

.App {
  margin-top: 90px;
  color: #fff;
}
.Toastify__toast-container--top-center {
  top: 80px !important;
}
